#nguyen-huy ul {
    list-style: none;
}

#nguyen-huy .menu-item-handle {
    cursor: move;
}

#nguyen-huy .menu-item-handle .menu-item-title.no-title {
    color: #999;
}

#nguyen-huy #nestable .card {
    border: none;
}

#nguyen-huy a,
#nguyen-huy .btn-link {
    color: #2a80c8;
}

#nguyen-huy a:hover,
#nguyen-huy .btn-link {
    text-decoration: none;
}

#nguyen-huy #accordion-left .card-header {
    padding: 0px;
}

#nguyen-huy #accordion-left .card {
    margin-top: 10px;
}

#nguyen-huy #accordion-left .btn-link {
    width: 100%;
    text-align: left;
}

#nguyen-huy .card-header {
}
/**
	Fixes for boostrap 4.3.1*/
#nguyen-huy .card-header {
    display: block;
}

#nguyen-huy .jumbotron .container {
    padding-top: 5px;
}

#accordion-left .collapsed .narrow-icon:before {
    content: "\f107"
}

#accordion-left button[aria-expanded=true] .narrow-icon:before,
#nguyen-huy div[aria-expanded=true] .narrow-icon:before {
    content: "\f106"
}
/**
 * Nestable
 */
.dd-list {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
}

.dd-list .dd-list {
    padding-left: 30px;
    margin-top: 5px;
}

.dd-collapsed .dd-list {
    display: none;
}

.dd-item,
.dd-empty,
.dd-placeholder {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    font-size: 13px;
    line-height: 20px;
}

.dd-handle {
    cursor: move;
    color: #333;
    text-decoration: none;
    background: #fafafa;
    padding: 13px;
    margin-left: -20px;
}

.dd-handle:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-item>button {
    display: block;
    position: relative;
    cursor: pointer;
    float: left;
    width: 25px;
    height: 20px;
    margin: 7px 0;
    padding: 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 0;
    background: transparent;
    font-size: 10px;
    line-height: 1;
    text-align: center;
    font-weight: bold;
}

.dd-item>button:before {
    content: '\f067';
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    text-indent: 0;
    font-family: 'FontAwesome'
}

.dd-item>button[data-action="collapse"]:before {
    content: '\f068';
}

.dd-placeholder,
.dd-empty {
    margin: 5px 0;
    padding: 0;
    min-height: 30px;
    background: #f2fbff;
    border: 1px dashed #b6bcbf;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd-empty {
    border: 1px dashed #bbb;
    min-height: 100px;
    background-color: #e5e5e5;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel {
    position: absolute;
    pointer-events: none;
    z-index: 9999;
}

.dd-dragel>.dd-item .dd-handle {
    margin-top: 0;
}

.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
    box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, .1);
}

.dd-hover>.dd-handle {
    background: #2ea8e5 !important;
}

/**
 * Nestable Draggable Handles
 */

.dd3-content {
    display: block;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px 5px 40px;
    color: #333;
    text-decoration: none;
    font-weight: 400;
    border: 1px solid #ccc;
    background: #fafafa;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.dd3-content:hover {
    color: #2ea8e5;
    background: #fff;
}

.dd-dragel>.dd3-item>.dd3-content {
    margin: 0;
}

.dd3-item>button {
    margin-left: 30px;
}

.dd3-handle {
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    cursor: move;
    width: 30px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #aaa;
    background: #ddd;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.dd3-handle:before {
    content: '≡';
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
    width: 100%;
    text-align: center;
    text-indent: 0;
    color: #fff;
    font-size: 20px;
    font-weight: normal;
}

.dd3-handle:hover {
    background: #ddd;
}

/*
* loading
*/
.ajax-loader {
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    z-index: 9999989;
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #da3ad8;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
.box-links-for-menu {
    padding: 0px;
}

.box-links-for-menu .list-item {
    border: 1px solid #ddd;
    max-height: 200px;
    overflow: auto;
    padding: 15px
}

.box-links-for-menu .list-item .list-item {
    border: 0;
    max-height: none;
    overflow: visible;
    padding: 0 0 0 20px
}

.box-links-for-menu .list-item li {
    list-style: none;
    margin-bottom: 5px;
    position: relative
}

.box-links-for-menu .list-item li ul {
    padding-left: 20px
}

.box-links-for-menu .list-item li .checker {
    margin-top: -25px
}

.box-links-for-menu .list-item li label {
    max-width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.box-links-for-menu .list-item li a {
    display: inline-block;
    overflow: hidden;
    padding-left: 20px;
    text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

.nestable-menu li .card-header {
    background: #fafafa;
    border-radius: 0.5rem;
}


.nestable-menu .card-header {
    position: relative;
    z-index: 1;
}
.nestable-menu .card-header + .collapse {
    background: #fdfdfd;
    border: 1px solid #f5f5f5;
    border-top: none;
    margin-top: -4px;
    z-index: 0;
    position: relative;
    padding: .5rem 1rem;
}

#nguyen-huy #accordion-left .btn-link {
    width: 100%;
    text-align: left;
    padding: 0.7rem 1.4rem;
    color: black;
    font-weight: bold;
}

